<footer class="pt-4">
  <div class="container">
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a
          href="https://www.github.com/ismailgunayy"
          class="btn-floating btn-li mx-1"
        >
          <i class="footer-icon fab fa-github fa-lg"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.linkedin.com/in/ismailgunayy"
          class="btn-floating btn-li mx-1"
        >
          <i class="footer-icon fab fa-linkedin-in fa-lg"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.twitter.com/ismailgunayy"
          class="btn-floating btn-tw mx-1"
        >
          <i class="footer-icon fab fa-twitter fa-lg"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.instagram.com/ismailgunayy"
          class="btn-floating mx-1"
        >
          <i class="footer-icon fab fa-instagram fa-lg"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.facebook.com/ismailgunayy"
          class="btn-floating btn-fb mx-1"
        >
          <i class="footer-icon fab fa-facebook-f fa-lg"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a
          href="https://www.youtube.com/ismailgünay23"
          class="btn-floating btn-yt mx-1"
        >
          <i class="footer-icon fab fa-youtube fa-lg"> </i>
        </a>
      </li>
    </ul>
  </div>
</footer>
