body {
  font-size: 17px;
}

.jumbotron {
  background-color: white;
}

img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.navbar-brand {
  font-size: 23px;
}

.nav-item {
  font-size: 20px !important;
  transition: all .15s ease-in-out;
}

.nav-item:hover {
  transform: scale(1.1);
}

.container {
  margin-bottom: 75px;
}

footer > .container {
  margin-bottom: 0px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #343a40;
  color: white;
}

.footer-icon {
  color: #a3a3a3;
  font-size: 28px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

.footer-icon:hover {
  transform: scale(1.45);
}

.fa-github:hover {
  color: white;
}

.fa-linkedin-in:hover {
  color: #0a66c2;
}

.fa-twitter:hover {
  color: #2b8bf2;
}

.fa-instagram:hover {
  color: #aa39a3;
}

.fa-facebook-f:hover {
  color: #1196f5;
}

.fa-youtube:hover {
  color: #ff0000;
}
