{% extends 'layout.html' %}

{% block body %}
    <h3>About</h3>
    <hr>
    <p>Merhaba, ben İsmail. İzmir'de yaşıyor ve okuyorum. Yaklaşık olarak 10 senedir müzik yapıyorum. Gitar çalarak başladığım bu yolda çeşitli enstrümanlar ve çeşitli tarzlar gördüm. Hepsinden de büyük haz aldım.

    Kanala farklı müzik türlerinden beğendiğim ve çalmayı sevdiğim şarkıların cover videolarını yüklüyorum. Kanala giren herkesin sevdiği müzik tarzından bir şarkıyı bulacağını düşünüyorum.

    Abone olmayı ve videolar hakkındaki iyi ya da kötü yorumlarınızı belirtmeyi unutmayın. Keyifli dinlemeler :)</p>
    <hr>
{% endblock body %}
