{% extends 'layout.html' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1 class="display-3">İsmail Günay</h1>
        <p class="lead">Welcome to my platform. You may read or write articles here. Enjoy.</p>

        {% if not session['loggedIn'] %}
            <p class="lead">
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
            </p>
            <p class="lead">
                <a class="btn btn-secondary" href="/login" role="button">Login</a>
            </p>
        {% endif %}

    </div>

{% endblock body %}
